@model CMS.Models.Video

@{
    ViewBag.Title = "_VideoPartial";
}

<h2>@Model.VidTitle</h2>
<div>
<iframe width="560" height="315" src="http://www.youtube.com/embed/@Model.VidUrl" frameborder="0" allowfullscreen></iframe>
<p>Video description: @Model.VidDesc</p>
<p>Pushar denna lilla ändring</p>
</div>


