
#body {
    background-color: #fff;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        /*background: url("../Images/accent.png") no-repeat;*/
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        /* background: url("../Images/heroAccent.png") no-repeat; */
    }
    

/* PurelyCSS Elegance Buttons
-------------------------------------------------------------- */



/*
box design kod
*/

body {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A ;
    text-align: center;
}

.wrap {  
    background: #dad3cb;  
    margin: 20px 20px;    
    display: block;
    width: 800px;
    min-width: 800px;
    min-height: 80px;
    padding:20px;
    padding-right: 20px;
    
}

.bigwrap {  
    background: #FFF;  
    margin: 20px 20px;    
    display: block;
    width: 900px;
    min-height: 80px;
    padding:20px;
    padding-right: 20px;
    overflow: auto;
    
}

.wrap img {
    width: 100%;
    margin-top: 15px;
}

p{ 
    margin-top: 15px;
    text-align: justify;
}

a{
    text-decoration: none;
    color: #4A4A4A !important;
}

a:hover{
    text-decoration: underline;
    color: #6B6B6B !important ;
}
  


  
/*
.purelycss_elegance_button{
font-family:Arial,Helvetica,sans-serif;
text-transform:uppercase;
text-decoration:none;
display:inline-block;
text-align:center;
margin:0 5px 5px 0;
padding:10px 50px;
font-size:12px;
line-height:15px;
letter-spacing:2px;
border:2px solid #111;
background:#111;
color:#f8f8f8;
background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0.15)),color-stop(1,rgba(0,0,0,0.1)));
background-image:-webkit-linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
background-image:-moz-linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
background-image:-o-linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
background-image:linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
-webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
-moz-box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-o-transition:all .5s ease;
transition:all .5s ease;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;}
.purelycss_elegance_button.size_small{font-size:10px;padding:6px 25px;}
.purelycss_elegance_button.size_large{font-size:15px;padding:15px 70px;}
.purelycss_elegance_button:hover{text-decoration:none;cursor:pointer;color:#fff;opacity:.7;}
.purelycss_elegance_button:active{position:relative;top:1px;}

.size_small{padding:8px 20px;font-size:10px;line-height:10px;}
.size_large{padding:15px 40px;font-size:17px;line-height:20px;}
.align_left{float:left;margin:0 15px 5px 0;}
.align_right{float:right;margin:0 0 5px 15px;}
.align_full{clear:both;display:block;margin:5px 0;}
 
.color_red,.hover_red:hover{background-color:#700;border-color:#700;opacity:1;}
.color_orange,.hover_orange:hover{background-color:#e98813;border-color:#e98813;opacity:1;}
.color_yellow,.hover_yellow:hover{background-color:#f7c808;border-color:#f7c808;opacity:1;}
.color_green,.hover_green:hover{background-color:#74941f;border-color:#74941f;opacity:1;}
.color_olive,.hover_olive:hover{background-color:#3a491a;border-color:#3a491a;opacity:1;}
.color_teal,.hover_teal:hover{background-color:#089;border-color:#089;opacity:1;}
.color_blue,.hover_blue:hover{background-color:#00437f;border-color:#00437f;opacity:1;}
.color_deepblue,.hover_deepblue:hover{background-color:#092334;border-color:#092334;opacity:1;}
.color_purple,.hover_purple:hover{background-color:#4b2c5a;border-color:#4b2c5a;opacity:1;}
.color_hotpink,.hover_hotpink:hover{background-color:#bc006e;border-color:#bc006e;opacity:1;}
.color_slategrey,.hover_slategrey:hover{background-color:#3b424a;border-color:#3b424a;opacity:1;}
.color_mauve,.hover_mauve:hover{background-color:#625b56;border-color:#625b56;opacity:1;}
.color_pearl,.hover_pearl:hover{background-color:#ab998f;border-color:#ab998f;opacity:1;}
.color_steelblue,.hover_steelblue:hover{background-color:#788794;border-color:#788794;opacity:1;}
.color_mossgreen,.hover_mossgreen:hover{background-color:#717a75;border-color:#717a75;opacity:1;}
.color_wheat,.hover_wheat:hover{background-color:#79745d;border-color:#79745d;opacity:1;}
.color_coffee,.hover_coffee:hover{background-color:#372e25;border-color:#372e25;opacity:1;}
.color_copper,.hover_copper:hover{background-color:#6b3c02;border-color:#6b3c02;opacity:1;}
.color_silver,.hover_silver:hover{background-color:#666;border-color:#666;opacity:1;}
.color_black,.hover_black:hover{background-color:#111;border-color:#111;opacity:1;}


.fix-margin
{
    margin-left: 20px;
}  
h1 {  
    background: #a8c4c0;
    background: -moz-linear-gradient(top,  #a8c4c0 0%, #7aa5a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8c4c0), color-stop(100%,#7aa5a2));
    background: -webkit-linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
    background: -o-linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
    background: -ms-linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
    background: linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8c4c0', endColorstr='#7aa5a2',GradientType=0 );
    
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 0 20px;  
    line-height: 50px;
    height: 50px;
    margin-top: 5px; 
    margin-left: -15px;   
    position: relative;  
    width: 800px;  
    
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
  
    color: #3b3a3b;  
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);  
}


h1:after {  
    position: absolute;
    content: '';
    width: 0; height: 0;  
    line-height: 0;  
    border-left: 15px solid transparent;  
    border-top: 10px solid #729c9a;  
    bottom: -10px;  
    left: 0;  
    position: absolute;  
    z-index: -1;
}  

h1:before {
    content: '';
    position: absolute;
    top: 5px;
    height: 39px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width: 100%;
    left: 0;
}
*/