@model CMS.Models.Category

@using (Html.BeginForm("CreatePage", "Admin")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create new page</legend>

        <div class="editor-label">
            <label>Enter page name to create:</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CatName)
            @Html.ValidationMessageFor(model => model.CatName)
        </div>
        <div class="inputver">
            <input type="submit" value="Create" />
            </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}