@model IEnumerable<CMS.Models.Category>
        
@foreach (var item in Model)
{
    <fieldset class="halfwidth">
        <legend>Edit an existing page</legend>
        <div class="editor-label">
        <label>Work with this page: </label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(modelItem => item.CatName)
        </div>
        <p>
        <button>@Html.ActionLink("Edit", "Edit", "Category", new { id = item.CatID }, string.Empty)</button>
        <button>@Html.ActionLink("Details", "Details", "Category", new { id = item.CatID }, string.Empty)</button>
        <button>@Html.ActionLink("Delete", "Delete", "Category", new { id = item.CatID }, string.Empty)</button>
        </p>
    </fieldset>
}    
