@model IEnumerable<CMS.Models.Category>

@{
    ViewBag.Title = "Admin Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    @Html.Partial("_AdminHeaderPartial")
}

  <div class="content">
    <div class="innercontent">



    <table>
    
@foreach (var item in Model)
{
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CatName)</td>
            <td>@Html.ActionLink("Take me there", "Content", new { id = item.CatID })</td>
        </tr>
}

    </table>
</div></div>