@model IEnumerable<CMS.Models.Category>

@{
    ViewBag.Title = "Admin Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="innercontent">
    <h3>Create a new page or edit an existing</h3>
        @Html.Partial("_AdminPageCreatePartial", new CMS.Models.Category())
        <button class="back">@Html.ActionLink("Back to Admin Area", "Index")</button>
        <hr class="clear"/>
        @Html.Partial("_AdminPageEditPartial")

</div></div>
