@model IEnumerable<CMS.Models.Category>

@{
    ViewBag.Title = "Admin Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    @Html.Partial("_AdminHeaderPartial")
}

<section class="content-wrapper">
    <h3>Create a new page or edit an existing</h3>
        @Html.Partial("_AdminPageCreatePartial", new CMS.Models.Category())
        <hr class="clear"/>
        @Html.Partial("_AdminPageEditPartial")
</section>