@model IEnumerable<CMS.Models.Category>

@{
    ViewBag.Title = "Admin Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    @Html.Partial("_AdminHeaderPartial")
}

<section class="content">
    <h3>Create a new page or edit an existing</h3>
        <h2>Configure the pages</h2>
        @Html.Partial("_CategoryCreatePartial", new CMS.Models.Category())
        @Html.Partial("_CategoryEditPartial", Model)
</section>